.feed-container {
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    max-width: 800px;
    margin-top: -60px;
    margin-left: 850px;
    background-color: #ffffff;
    border-radius: 10px;
    scrollbar-width: thin;
    scrollbar-color: #ffffff #f1f1f1;
    -ms-overflow-style: none;
    box-shadow: 10px 0px 10px rgba(0.3, 0.3, 2, 0.3);
    box-shadow: 0px 10px 10px rgba(0.3, 0.3, 2, 0.4);
}

.feed-container::-webkit-scrollbar {
    display: none;
}

.posts-grid {
    display: grid;
    gap: 20px;
}

.post-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-header {
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
}

.post-user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-date {
    font-size: 12px;
    color: #888;
}

.post-image {
    width: 100%;
    height: auto;
}


.custom-avatar-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.custom-avatar-group .MuiAvatarGroup-avatar {
    width: 34px;
    height: 34px;
    font-size: 14px;
}

@media (max-width: 2200px){
    .feed-container {
        margin-left: 600px;
    }
}

@media (max-width: 1800px){
    .feed-container {
        margin-left: 550px;
    }
}

@media (max-width: 1700px){
    .feed-container {
        margin-left: 450px;
    }
}

@media (max-width: 1600px){
    .feed-container {
        margin-left: 350px;
    }
}

@media (max-width: 1300px){
    .feed-container {
        margin-left: 250px;
    }
}

@media (max-width: 1200px){
    .feed-container {
        margin-left: 150px;
    }
}

@media (max-width: 768px),(max-width: 968px) {
    .feed-container {
        width: 100%;
        margin: 0;
        padding: 10px;
        max-width: 100%;
    }

    .posts-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .post-card {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 15px;
        background-color: #fff;
    }

    .post-header {
        padding: 10px;
        font-size: 14px;
    }

    .post-image {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .post-profile-picture {
        width: 35px;
        height: 35px;
    }

    .post-date {
        font-size: 12px;
    }

    .custom-avatar-group {
        justify-content: flex-end;
        flex-direction: row-reverse;
    }

    .custom-avatar-group .MuiAvatarGroup-avatar {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
}

