.left-section-message, .right-section-message {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-section-message {
    background: linear-gradient(to bottom left, #eaeaf6, rgb(255, 255, 255));
    height: 100vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.right-section-message {
    background: linear-gradient(to bottom right, #eaeaf6,  rgb(255, 255, 255));
    color: black;
    text-align: center;
    padding: 110px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-message {
    max-width: 120px;
    margin-bottom: 10px;

}

.chat-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 340px;
    max-height: 90%;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    margin-left: -210px;
}


.chat-item {
    padding: 15px;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
}

.chat-item:hover {
    background: #b2c9cf;
}

.chat-item.active {
    background: #b2c9cf;
    font-weight: bold;
}

.chat-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: #888 #f1f1f1;
}

.message-input {
    display: flex;
    align-items: center;
    gap: 55px;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
    border-radius: 10px;
    background: white;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
}

.message-input button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.message-input button:hover {
    background: #0056b3;
}
