.profile-container {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    height: calc(100vh - 100px);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ffffff #f1f1f1;
    width: 42%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 10px 0px 10px rgba(0.3, 0.3, 2, 0.3);
    box-shadow: 0px 10px 10px rgba(0.3, 0.3, 2, 0.4);
}

.profile-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-right: 20px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    flex: 1;
}

.profile-info h1 {
    font-size: 24px;
    margin: 0;
}

.profile-info p {
    margin: 5px 0;
    color: #555;
}

.input-url-profile{
    padding: 10px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.img-profile-upload{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.box-drop-zone{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div-select-file{
    border: 2px dashed gray;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 300px;
    background: #ffffff;
    border-radius: 10px;
}

@media(max-width: 1750px) {
    .profile-container {
        width: 60%;
    }
}

@media(max-width: 1450px) {
    .profile-container {
        width: 60%;
    }
}

@media(max-width: 950px) {
    .profile-container {
        width: 70%;
    }
}

@media(max-width: 800px) {
    .profile-container {
        width: 90%;
    }
}



