.search-body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    height: calc(100vh - 100px);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 10px 0px 10px rgba(0.3, 0.3, 2, 0.3);
    box-shadow: 0px 10px 10px rgba(0.3, 0.3, 2, 0.4);
}

.form.d-flex {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.form.d-flex input.form-control {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.search-result {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.search-result:hover {
    background-color: #f9f9f9;
    border-radius: 10px;
}

.search-profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.search-details {
    display: flex;
    flex-direction: column;
}

.search-username {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    color: #333;
}

.search-description {
    font-size: 14px;
    color: #888;
    margin: 0;
}


