.setting-home {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    height: calc(100vh - 100px);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 10px 0px 10px rgba(0.3, 0.3, 2, 0.3);
    box-shadow: 0px 10px 10px rgba(0.3, 0.3, 2, 0.4);
}

.settings-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(-moz-mac-accentdarkestshadow, #34424a, #ffffff);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 0px 10px rgba(0.3, 0.3, 2, 0.3);
    box-shadow: 0px 10px 10px rgba(0.3, 0.3, 2, 0.4);
}

.settings-floating-form{
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 5);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.settings-form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.left-section-settings, .right-section-settings {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-section-settings {
    background: white;
    height: 100vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.right-section-settings {
    background: linear-gradient(to bottom right, #ffffff, #f7f7f7);
    color: black;
    text-align: center;
    padding: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-settings {
    max-width: 120px;
    margin-bottom: 10px;
}
