.auth-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ffffff, #ffffff, #2071d8);
    box-shadow: 10px 0px 10px rgba(0.3, 0.3, 2, 0.3);
    box-shadow: 0px 10px 10px rgba(0.3, 0.3, 2, 0.4);
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-section {
    background: none;
}

.right-section {
    color: white;
    text-align: center;
    padding: 40px;

}

.logo{
    max-width: 190px;
    margin-bottom: 20px;
}

.site-info {
    font-size: 1.2rem;
    color: #1435f3;
    line-height: 1.6;
    margin-top: 15px;
    font-weight: bold;
}


.right-content {
    max-width: 90%;
}

.welcome-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #465df1;
    margin-top: 20px;
}

.features {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-item {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    text-align: left;
    margin-bottom: 10px;
    transition: background 0.3s ease-in-out;
}

.feature-item i {
    color: #FFD700;
    margin-right: 10px;
    font-size: 1.5rem;
}

.feature-item:hover {
    background: rgba(255, 255, 255, 0.2);
}

.cta-text {
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    color: #FFD700;
    margin-top: 20px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.8; }
    100% { opacity: 1; }
}

.site-info-verification {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    max-width: 100%;
    line-height: 2;
    color:black;
}

.floating-form {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 5);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.error-message {
    background: rgba(255, 0, 0, 0.1);
    color: red;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.custom-arrow-icon {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.custom-link:hover .custom-arrow-icon {
    transform: translateX(20px);
    color: #1233dd;
}

.icon-link i {
    display: inline-block;
}
.icon-link:hover i {
    transform: translateY(-8px);
    transition: transform 0.3s ease, color 0.3s ease;
}

.valid-feedback{
    color: green;
    margin-left: 10px;
    font-size: 0.7rem;
}

.invalid-feedback{
    color: red;
    margin-left: 10px;
    font-size: 0.7rem;
}

.input:focus + label.label-user{
    transform: translateY(-1rem);
    font-size: 0.85rem;
    color: #6c757d;
}

.icon-container {
    position: absolute;
    left: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    align-items: center;
    z-index: 2;
}

.toggle-password-icon {
    position: absolute;
    right: 30px;
    top: 40%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
}

.toggle-password-icon-loading {
    position: absolute;
    right: 30px;
    top: 53%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
}


.forgot-password-link {
    cursor: pointer;
    color: blue;
    display: inline-flex;
    align-items: center;
    margin-left: 235px;
    margin-bottom: 25px;
    font-size: 14px;
    text-decoration: none;
    transition: text-decoration 0.3s ease-in-out;
}

.forgot-password-link:hover {
    text-decoration: underline;
}


.btn-primary {
    background: linear-gradient(90deg, #007BFF, #0056b3);
    border: none;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background: linear-gradient(90deg, #0056b3, #003366);
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 91, 255, 0.5);
}


@media (max-width: 768px) {
    .auth-container {
        flex-direction: column;
        padding: 10px;
        height: auto;
        border-radius: 10px;
        background: linear-gradient(to bottom, #ffffff, #ffffff, #4c78b5);
    }

    .left-section, .right-section {
        width: 100%;
        flex: none;
        padding: 15px;
    }

    .left-section {
        background: none;
        padding: 20px 10px;
    }


    .right-section {
        background: none;
        color: black;
        padding: 20px;
    }

    .logo {
        max-width: 120px;
    }

    .site-info {
        font-size: 1.2em;
        max-width: 100%;
        text-align: center;
    }

    .floating-form {
        width: 100%;
        max-width: 90%;
        padding: 15px;

    }

    .form-title {
        font-size: 1.2em;
    }

    .toggle-password-icon,
    .toggle-password-icon-loading {
        right: 20px;
        top: 50%;
        width: 20px;
        height: 20px;
    }
    .forgot-password-link {
        margin-left: 190px;
        font-size: 12px;
    }
}


