.auth-container {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #002f4b, #ffffff);
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;
}

.left-section {
    background: rgba(255, 255, 255, 0.8);
}

.right-section {
    background: linear-gradient(to bottom right,  #002f4b, #ffffff);
    color: white;
    text-align: center;
}

.logo {
    max-width: 190px;
    margin-bottom: 20px;
}

.site-info {
    font-size: 1.7em;
    max-width: 80%;
    line-height: 1.6;
}

.floating-form {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 5);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.custom-arrow-icon {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.custom-link:hover .custom-arrow-icon {
    transform: translateX(20px);
    color: #1233dd;
}

.icon-link i {
    display: inline-block;
}
.icon-link:hover i {
    transform: translateY(-8px);
    transition: transform 0.3s ease, color 0.3s ease;
}

.valid-feedback{
    color: green;
    margin-left: 10px;
    font-size: 0.7rem;
}

.invalid-feedback{
    color: red;
    margin-left: 10px;
    font-size: 0.7rem;
}

.input:focus + label.label-user{
    transform: translateY(-1rem);
    font-size: 0.85rem;
    color: #6c757d;
}

.icon-container {
    position: absolute;
    left: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    align-items: center;
    z-index: 2;
}

.toggle-password-icon {
    position: absolute;
    right: 30px;
    top: 40%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
}

.toggle-password-icon-loading {
    position: absolute;
    right: 30px;
    top: 53%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
}

