.footer-container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    color: #9198c8;
    padding: 29px;
    text-align: center;
    font-size: 14px;
    position: relative;
    width: 100%;
    margin-bottom: -20px;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-link {
    color: #9198c8;
    text-decoration: none;
    font-weight: bold;
}

.footer-link:hover {
    text-decoration: underline;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-icon {
    font-size: 20px;
    color: #9198c8;
    transition: color 0.3s ease-in-out;
}

.social-icon:hover {
    color: #ffd700;
}

.footer-brand {
    font-size: 12px;
    opacity: 0.7;
}

