.divider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.divider {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.or-text {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.a-link-forget{
    text-decoration: underline;
    color: green;
    font-size: 14px;
}