:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

.App{
  background-color: rgba(241, 229, 255, 0.28);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .floating-form {
    padding: 10px;
    max-width: 90%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.nav-link[aria-disabled="true"] {
  pointer-events: none;
  cursor: default;
  opacity: 1;
}

/*
לנאב בר של האאיקון למעלה
 */
.disabled {
  pointer-events: none;
  color: gray;
  cursor: not-allowed;
}