:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  scrollbar-width: thin;
  scrollbar-color: #cfd0d6 #f1f1f1;
}


.App {
  background: linear-gradient(to bottom, white, #e5f1fb);

  width: 100vw;
  min-height: 100vh;
  padding-bottom: 20px;
  padding-top: 0.4px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-between;
}

.background {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.content-wrapper {
  max-width: 100%;
  overflow-x: hidden;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  min-height: calc(100vh - 100px);
  overflow-y: auto;
}

.content {
  max-width: 2600px;
  width: 100%;
}

@media (max-width: 750px) {
  .App{
    background: linear-gradient(to bottom, white, #e1eafa);
  }
  .content {
    max-height: 1600px;
    height: 100%;
    margin-top:-15px ;
  }

}





